body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    }

    @media screen and (max-width:992px) {
        header, body{
            background: white;
        }
    }
    
    @media screen and (max-width:768px) {
        header, body{
            background: white;
        }
    }
    
    @media screen and (max-width:575p) {
        header, body{
            background: white;
        }
    }
