body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 51%;

}

#map {
    width: 46vw;
    height: 76vh;
    left: 1%;
    position: relative;
    top: 7%;
}

.section {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}


.navbar-item {
    background-color: #3e8ed0;
    color: white;
    transition: ease-in 0.2s;
    background:
        linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(to right,
            rgba(105, 237, 244, 0.9),
            rgba(35, 159, 225, 0.9),
            rgba(0, 100, 200, .9));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.navbar-item:hover {
    background-size: 0 3px, 100% 3px;
}

.navbar-menu {
    background-color: #3e8ed0;
}

.navbar-brand {
    background-color: #3e8ed0;
}

.footer {
    background-color: #3e8ed0;
    position: relative;
    top: 90px;
    padding: 0rem 1.5rem 5rem;
}

.footer-text {
    position: relative;
    top: 36px;
    color: white;
}

@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:575p) {

}

#weather-container{
    display: flex;
    width: 100%;
    height: 0;
    position: relative;
    left: 7%;
    top: 7%;
    justify-content: center;
}

#sevenDayContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    left: 47.6rem;
    top: 21rem;
}

.sevenDayForecast{
    flex-basis: calc(20%);
    text-align: center;
    margin-bottom: 10px;
    background-color: #3e8ed0;
    height: 19rem;
    width: 9rem;
    font-size: larger;
    font-style: inherit;
    font-weight: bolder;
    position: relative;
    bottom: -2rem;
    font-size: larger;
    color:white ;
}

#conditionalIcon{
    position: relative;
    top: -12rem;
}

.minMaxTemp{
    position: relative;
    top: -9rem;
}

#curIcon{
    position: relative;
    left: 47rem;
    top: 10.7rem;
}

#currentTemperature{
    position: relative;
    font-size: xx-large;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    color: black;

}

.curTemp {
    position: relative;
    left: 47.8rem;
    top: 10.3rem;
    font-weight: bolder;
    color: black;
    font-size: large;
}

#currentDaysForecast{
    font-size:x-large;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    color: black;
    position: absolute;
}


#nameOfCity{
 position: relative;
 left: 44rem;
 bottom: 7.2rem;
 font-size: larger;
}

#today{
position: inherit;
left: 22.8rem;
bottom: 15.7rem;
font-size: 39px;
}

#conditions {
    position: relative;
    left: 44rem;
    bottom: 5.7rem;
}


#currentWeatherConditions{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    top: 1rem;
    font-size: xx-large;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    color: black;
}