body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 51%;

}

#map {
    width: 46vw;
    height: 76vh;
    left: 1%;
    position: relative;
    top: 7%;
}

.section {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
}


.navbar-item {
    background-color: #3e8ed0;
    color: white;
    transition: ease-in 0.2s;
    background:
        linear-gradient(to right,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)),
        linear-gradient(to right,
            rgba(105, 237, 244, 0.9),
            rgba(35, 159, 225, 0.9),
            rgba(0, 100, 200, .9));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.navbar-item:hover {
    background-size: 0 3px, 100% 3px;
}

.navbar-menu {
    background-color: #3e8ed0;
}

.navbar-brand {
    background-color: #3e8ed0;
}

.footer {
    background-color: #3e8ed0;
    position: relative;
    top: 90px;
    padding: 0rem 1.5rem 5rem;
}

.footer-text {
    position: relative;
    top: 36px;
    color: white;
}

@media screen and (max-width:992px) {
    
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:575p) {

}

#weather-container{
    display: flex;
    justify-content: center;
    height: 0;
}